/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** Header ***********/

.logo {
    display: flex;
    align-items: center;
}

.tête {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
}

.boutton {
    display: flex;
    gap: 68px;
    list-style-type: none;
    padding: 0;
}

nav a {
    border: 3px solid transparent;
    padding: 12px 0;
}

nav a:hover {
    border-top-color: #0065fc;
}

nav a:hover {
    color: #0065fc;
}

/****** Body ***********/

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.info {
    gap: 35px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.description h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

.description h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}
.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    gap: 0px;
    border-radius: 15px 0px 0px 15px;
    opacity: 0px;
    background-color: #F2F2F2;
}

.recherche {
    display: flex;
    align-items: center;   
}

.style-button {
    background-color: transparent;
    border: none;
}

.fa-magnifying-glass {
    visibility: hidden;
}

.recherche input {
    padding: 14px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;

}

.recherche form :focus-visible{
    border: #F2F2F2;
}

.recherche span {
    padding: 15px 16px 15px 16px;
    background-color:#0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
}

.fa-location-dot {
    color: black;
}

.filter-categorie {
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 4px 19px;
}

.filter {
    display: flex;
    align-content: flex-start;
    align-items: center;
    gap: 20px;
}

.categorie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.categorie-name {
    font-size: 14px;
    font-weight: 700;
}

.button-categorie {
    display: flex;
    justify-content: space-between;
}

.button-categorie {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: transparent;
}

.categorie > p {
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: left;

}

.button-categorie:hover {
    cursor: pointer;
}

.filter-categorie:hover {
    background-color: #DEEBFF;
}


.detail {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.detail > span {
    border: #D9D9D9 1px solid;
    border-radius: 50% 50% 50% 50%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.detail > p {
    height: 25px;
    gap: 10px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 10px;

}

.hebergement-cards .card {
    margin: 20px auto;
}

.hebergement-cards .card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.container h3, p {
    margin: 5px auto;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

section > h2 {
    margin: 60px 0 35px 15px;
}

.activite {
    display: flex;
    gap: 35px;
}

.activite-card {
    display: contents;
}

.activite-title {
    padding: 0;
}

.activite a {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
    border-radius: 0 0 20px 20px;
}

.activite-card  img {
    width: 100%;
    height: 439px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activite-card > .card-content > .card-txt > h3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    padding: 5px 0 15px 0;
}

/****** Footer ***********/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;;
    margin-top: 30px;
}

.link {
    display: flex;
    flex-direction: column;

}

.link > h4 {
    margin: 10px 0 0 40px;
}

.link > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter {
        flex-direction: column;
        align-items: baseline;
    }

    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .tête {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 30px;
    }

    nav ul {
        margin: 0;
    }

    .recherche span {
        visibility: hidden;
    }

    .fa-magnifying-glass {
        position: relative;
        right: 164px;
        background-color: var(--main-color);
        color: white;
        border-radius: 15px;
        padding: 15px 16px 15px 16px;
        visibility: visible;
    }

    .categorie {
        flex-wrap: wrap;
        width: 79%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergement-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activite {
        flex-direction: column;
    }

    footer {
            display: flex;
            flex-direction: column;
            gap: 50px;
    }
}